<nav>
  <a href="/">Home Page</a>
  <a href="/history">Company History</a>
  <a href="/catalog">Catalog</a>
  <a href="/staff">Staff</a>
  <a href="/contact-us">Contact Us</a>
  <a href="/external-links">External Links</a>
</nav>