<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css"> 
</head>
<body>
    <header>
    <%- include('./partials/nav') %>
    </header>
      <% catalog.forEach((product) => { %>
        <a href= <%= `./catalog/${product.sku}` %>>
            <div class="product">
                <!-- <img ==> -->
                <p><%= product.name %></p>
                <p><%= product.price %></p>
            </div>
        </a>
    <%  }); %>

</body>
</html>